<% include partials/header %>

<h1>You fell in love with: <%= thingVar %></h1>
<%if(thingVar.toLowerCase()==="himalaya"){%>
<p>Yeah, Himalaya is cool</p>
<% } %>
<p>It is the love.ejs file</p>

<% include partials/footer %>
